*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFEFEF;
  color:white;
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 3.75fr 8.75fr 1fr 8.75fr 3.75fr;
  grid-template-rows: 10vh 8vh 30vh 4vh 30vh 8vh 10vh ;

}

#container .Cabeçera{
  padding: 9px;
  background-color:#a60573;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 1/2;
}

#container .Texto 1{
  padding: 9px;
  background-color:#596ac3;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
}

#container .imagen 1{
  padding: 9px;
  background-color:#97bc27;
  border-radius: 5px;
  grid-column: 1/4;
  grid-row: 3/6;
}

#container .Texto 2{
  padding: 9px;
  background-color:#ff9800;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: /5;
}

#container .imagen 2{
  padding: 9px;
  background-color:#ff3700;
  border-radius: 5px;
  rid-column: 2/3;
  grid-row: 5/6;
}

#container .Texto 3{
  padding: 9px;
  background-color:#459800;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 4/5;
}

#container .imagen 3{
  padding: 9px;
  background-color:#ff98ff;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 3/4;
}

#container .Texto 4{
  padding: 9px;
  background-color:#023300;
  border-radius: 5px;
  grid-column: 6/7;
  grid-row: 4/5;
}

#container .pie{
  grid-row: 7/8;
  grid-column: 1/6;
